body {
  margin-bottom: 60px;
}

.full-header {
  margin-top: 60px;
  border: 1px outset rgb(248, 245, 245);
  padding: 1em;
}

.full-header h1 {
  margin-top: 0.25em;
  margin-bottom: 0px;
}

.full-header a {
  color: black;
  text-decoration: underline;
}

.full-header .subtitle {
  color: gray;
  /* font-size: 0.5em; */
  margin-top: 1em;
}

.full-header img {
  float: left;
  width: 7rem;
  height: auto;
  margin-right: 20px;
  border: 1px solid black;
}

h2 {
  margin-top: 60px;
}

.card a {
  color: rgb(155, 153, 153);
}

.card .card-text {
  margin-top: 1em;
}

.card-footer {
  text-align: center;
}