.full-header {
  margin-top: 60px;
  padding: 1em;
}

.full-header h1 {
  margin-top: 0.25em;
  margin-bottom: 0px;
}

.full-header a {
  color: black;
  text-decoration: underline;
}

.full-header .subtitle {
  color: gray;
  /* font-size: 0.5em; */
  font-style: oblique;
  margin-top: 1em;
}

.full-header img {
  float: left;
  width: 7rem;
  height: auto;
  margin-right: 20px;
  border: 1px solid black;
}

.container h2{
  margin-top: 60px;
}

.card-text a {
  color: rgb(155, 153, 153);
}